<!--
<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-post" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
    <h2><span>{{ post.title }}</span></h2>  
    </div>
  </a>
</article>
-->
<script type="javascript">
  $(".article-preview").click(function() {
  window.location = $(this).find("a").attr("href"); 
  return false;
	});
</script>
<div class="article-preview" style="background-image: linear-gradient(rgba(255,255,255,0.90),rgba(255,255,255,.90)),url({{ site.github.url }}/assets/img/{{ post.image }});">
	<!-- Date + Author -->
	<h6 class="article-date">
		{% assign _month = post.date | date: "%b" %}
		{{ post.date | date: "%Y" }} {{ _month | downcase }} {{ post.date | date: "%d" }}
  	</h6>
	<!-- Title -->
  	<h3 class="article-title"><span>{{ post.title }}</span></h3>
	<!-- Blurb -->
  	<p class="article-blurb">{{ post.blurb }}</p>
	<!-- Link -->
  	<p class="article-link"><a href="{{ site.github.url }}{{ post.url }}">read&raquo;</a></p>
	<!-- Break -->
  	<div class="article-breaker"></div>
</div>
