<!--
<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-post" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
    <h2><span>{{ post.title }}</span></h2>  
    </div>
  </a>
</article>
-->
<script type="javascript">
  $(".article-preview").click(function() {
  window.location = $(this).find("a").attr("href"); 
  return false;
	});
</script>
<div class="article-preview" style="background-image: linear-gradient(rgba(255,255,255,0.90),rgba(255,255,255,.90)),url({{ site.github.url }}/assets/img/{{ post.image }});">
  <h6 class="article-date">{% include post-date.html %}</h6>
  <h3 class="article-title"><span>{{ post.title }}</span></h3>
  <p class="article-blurb">{{ post.categories }}</p>
  <p class="article-link"><a href="{{ site.github.url }}{{ post.url }}">read&raquo;</a></p>
  <!--
  <h6 class="article-date">15 feb 2018</h6>
  <h3 class="article-h1"><a href="">Mobspawn</a></h3> 
  <p class="article-p">An upcoming project.</p>
  <p class="article-link"><a href="">read&raquo;</a></p>
  -->
  <div class="article-breaker"></div>
</div>
