---
layout: default
title: Home
---

<div class="page-content">
  <center><img src="{{ site.github.url }}/assets/img/nm.png" width="40%" style="margin: 30px 0px"></center>
  I am a security engineer and developer from Mastic Beach NY.
  <br><br>
  I enjoy drives east, drives west, architecture, design, nuance, watercolor, nature, old cities, geopolitical history, literature, thrifting, f1, film, a game of chess, late summer ferries, the stillness after it snows, sports with my friends, taking things apart to see how they work, and sharing my snacks.
  <br><br>
  Here I mostly share what I create, think, experience and appreciate.
  <br><br>
</div>

{% for post in paginator.posts %}
  {% include featured-post.html %}
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div>
